body {
  font-family: "Karla", sans-serif;
  margin: 0px;
  background-color: #CCCCCC;
}


th {
  text-decoration: underline;
  font-size: 11px;
}

td {
  font-size: 11px;
}

td.rawData {
  color: #666666;
  font-size: 10px;
}
#leftBar {
  position: fixed;
  top: 0px;
  height: 100%;
  max-height: 100%;
  width: 155px;
  border-right: 1px solid black;
  padding-right: 5px;
  padding-left: 2px;
  margin-right: 5px;
  padding-top: 5px;
  z-index: 10;
  background-color: #FFFFFF;
}

#mainContent {
  padding-top: 0px;
  padding-left: 5px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-left: 165px;
  background-color: #CCCCCC;
  height: 100%;
  overflow-y: scroll;
}

#mainContent td {
  vertical-align: top;
}

.widget {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border-radius: 3px;
  border-width: medium;
  background-color: white;
  border-color: black;
  border-style: solid;
  min-height: 100px;
  width: 500px;
}

.itemTable {
  border-collapse: collapse;
}

.itemTable td {
  border: blue 1px solid;
  margin: 0px;
  padding: 4px;
}

.tooltip {
  margin: 0px;
  padding-left: 0px;
}

.footer {
  position: fixed;
  bottom: 10px;
  font-size: 10px;
  width: 155px;
  color: #999999;
}

img.buildingImg {
  height: 100px;
}
