body {
  font-family: "Karla", sans-serif;
  margin-left: 3px;
}

th {
  text-decoration: underline;
  font-size: 11px;
}

td {
  font-size: 11px;
}

#leftBar {
  position: absolute;
  height: 100%;
  width: 155px;
  border-right: 1px solid black;
  padding: 5px;
  padding-left: 2px;
  margin-right: 5px;
  z-index: 10;
}

#mainContent {
  padding: 5px;
  margin-left: 160px;
  background-color: #CCCCCC;
  min-height: 100%;
}

#mainContent td {
  vertical-align: top;
}

.widget {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border-radius: 3px;
  border-width: medium;
  background-color: white;
  border-color: black;
  border-style: solid;
  min-height: 100px;
  width: 500px;
}

.itemTable {
  border-collapse: collapse;
}

.itemTable td {
  border: blue 1px solid;
  margin: 0px;
  padding: 4px;
}

.tooltip {
  margin: 0px;
  padding-left: 0px;
}

img.buildingImg {
  height: 100px;
}
